body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAE3D9; 
}

header {
    color: #FFF5E1; 
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-size: cover;
    background-color:#5D4037 ;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    color: #5D4037; 
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5px;
}    

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-radius: 10px;
    background: #5D4037; 
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #FFF5E1; 
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


nav ul li a:hover {
    background: #FFB74D; 
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 183, 77, 0.6);
    transform: scale(1.1); 
}


.container {
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    animation: slideIn 0.8s ease-out;
}


.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

#AAdmin{
    margin-right: 20px;
}

input[type="radio"] {
    accent-color:  #d2b48c;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #3e2723;
}

form input {
    background: #fffdfa; /* Soft warm white */
    border: 1px solid #8b4513;
    padding: 12px;
    border-radius: 6px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

form input:focus {
    outline: none;
    border-color: #d2b48c;
    box-shadow: 0 0 8px rgba(210, 180, 140, 0.9);
}

input[type="submit"] {
    background-color: #8b4513; /* Book-like brown */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    animation: pulse 1.5s infinite;
}


input[type="submit"]:hover {
    background-color: #FFB74D; /* Slightly lighter brown */
    transform: scale(1.01); /* Slight enlargement effect */
}

footer {
    text-align: center;
    background: #3e2723;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #8b4513;
    animation: fadeIn 1.5s ease-in-out;
}
